@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #eee;
}

*{
    box-sizing: border-box;
}

form{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin:40px auto;
    max-width: 600px;
    max-height: 700px;
    padding: 25px 40px;
}

form input, textarea{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 15px auto;
    padding: 8px;
    font-family: 'Rubik', sans-serif;
}

form span{
    color:#00DFA2;
}

form button{
    height: 30px;
    width:80px;
    align-items: center;
    border:none;
    background-color:#00DFA2;
    color:#fff;
    cursor: pointer;
}